sudo: required
dist: trusty
language: python
matrix:
    include:
        - python: 3.6
          env: TOXENV=py36
        - python: 3.6
          env: TOXENV=flake8
        - python: 3.6
          env: TOXENV=pylint
        - python: 3.6
          env: TOXENV=coverage
services:
    - postgresql
addons:
    postgresql: 9.6
    apt:
        packages:
            - postgresql-9.6-postgis-2.3
before_script:
    - psql -c 'CREATE DATABASE ona_tasking;' -U postgres
    - psql -c 'CREATE EXTENSION postgis;' -U postgres -d ona_tasking
    - psql -c 'CREATE EXTENSION postgis_topology;' -U postgres -d ona_tasking
install:
    - pip install tox
script: tox
notifications:
    slack:
        - onaio:snkNXgprD498qQv4DgRREKJF
