[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
django = "==1.11"

[dev-packages]
"flake8" = "*"
pylint = "*"
pycodestyle = "*"
coverage = "*"
tox = "*"
yapf = "*"
isort = "*"
ipdb = "*"
