[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
python-language-server = {extras = ["all"]}
"flake8" = "*"
pyflakes = "*"
pylint = "*"
pycodestyle = "*"
coverage = "*"
tox = "*"

[packages]
django = "==1.11"

[requires]
python_version = "2.7"
